div.exercise {
  margin: 10px;
}

button.info {
  font-size: 15px;
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  padding: 5px;
  height: 22px;
  width: 22px;
  box-shadow: 0 2px 4px var(--quadrinary-color);
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
}

button.info:hover {
  background-color: var(--secondary-color);
  transform: translateY(2px);
  box-shadow: 0 0 2px var(--tertiary-color);
}

.popupWrap {
    position: relative;
}


