.exerciseInfo {
    z-index: 10000;
    right: 50px;
    position: absolute;
    border: var(--quadrinary-color) solid 1px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--quadrinary-color);
    max-height: 400px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

  .exerciseInfo::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.eImage {
    width: 150px;
    height: auto;
}

.steps {
    font-size: 8px;
}