div.exercise {
  margin: 10px;
}

button.info {
  font-size: 15px;
  background-color: rgb(50, 119, 121);
  color: white;
  border: none;
  padding: 5px;
  height: 22px;
  width: 22px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
}

button.info:hover {
  background-color: rgb(105, 148, 150);
  transform: translateY(2px);
  box-shadow: 0 0 2px darkslategray;
}

.popupWrap {
    position: relative;
}


