.loadingLocation {
    bottom: 1vw;
    left: 1vw;
    position: fixed;
    right: 10;
    width: 200px;
    height: 200px;
    bottom: 10;
    display: flex;
    z-index:100000;
    transform: translateX(85vw)
  }