.meal {
    max-width: 90%;
    min-height: 300px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: solid 1px grey;
    margin: 5%;
    box-shadow: 10px 5px 5px;
    background-color: whitesmoke;
    border-radius: 2px;
    transition: 0.5s;
  }

  


button.delete {
    font-size: 20px;
    z-index:10000;
    background-color: rgb(50, 119, 121);
    color: white;
    border: none;
    padding: 0px;
    font-size: 31px;
    height: 40px;
    width: 40px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease;

}

button.delete:hover {
    background-color: rgb(105, 148, 150);
   }
   
   button.finish:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
   }