.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(52, 64, 84, 0.6);
  backdrop-filter: blur(8px);
  z-index: 1; /* Sit on top */
}
.eighty-width {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  width: 80%;
}
.modal {
  text-shadow: 1px 0 #000000;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-y: scroll;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin: 5% 10% 5% 10%;
  background: linear-gradient(45deg, var(--secondary-color), var(--tertiary-color));
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1),
    0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  transition: all 0.5s ease;
  z-index: 1;
  border: 5px solid;
  border-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color)) 3;

  flex-direction: column;
  text-align: center;
}

button.finish {

  z-index: 10000;
  background-color: var(--tertiary-color);
  color: white;
  border: var(--quadrinary-color) 2px solid;
  padding: 5px;
  font-size: 25px;
  box-shadow: 0 2px 4px var(--primary-color);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.finish:hover {
  background-color: var(--quadrinary-color);
}

button.finish:active {
  box-shadow: 0 0 2px var(--secondary-color);
  transform: translateY(2px);
}

#mealContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  border: solid 4px var(--quadrinary-color);
  border-radius: 20px;
}

.chooseWeight {
  width: 40px;
}

button.bottomRight {
  position: absolute;
  right: 0;
  bottom: 0;
}

button.topLeft {
  position: absolute;
  left: 0;
  top: 0;
}

button.topRight {
  position: absolute;
  right: 0;
  top: 0;
}


button.bottomLeft {
  position: absolute;
  left: 0;
  bottom: 0;
}